<% provide(:title, "Program Administration") %>

<div class="main-area"><!-- main area -->
  <%= render 'title_bar' %>
  <div class="main-holder"><!-- main holder -->
    <div id="content"><!-- content -->
      <div class="content_right_sidebar"><!-- left content -->
        <p class="txt">
          Having an emergency response program in place gives you an incredible advantage in saving a life.
          However, all too often companies choose not to implement such a program simply because they don’t
          have the desire or ability to dedicate the time it takes to make sure all the legal requirements
          are followed and that all of the necessary documentation is in place and kept up to date. Please don’t
          let this stop your company from protecting those who work and visit there. Let the professionals at
          LifeLine who are experienced in managing these types of programs help you deploy your safety program
          with eas and the confidence that it is being done right.  We want to partner with you in protecting
          and saving lives.
        </p>
      </div><!-- end left content -->
      <br class="clear" />
    </div><!-- end content -->
    <div id="sub_nav" class="nav_right_sub_nav"><!-- start sub nav -->
      <%= render 'sub_nav' %>
    </div><!-- end sub nav -->
  </div><!-- end main holder -->
</div><!-- end main area -->
