<div class="tools"><!-- tools -->
  <div class="holder"><!-- holder -->
    <div class="frame"><!-- frame -->
      <h1><%= @title %></h1>
      <p class="breadcrumb"><!-- breadcrumb -->
        <%= link_to 'Home', root_path %>
        <%= link_to 'Training Solutions', training_path %>
        <span class="current_crumb"><%= @title %></span>
      </p><!-- end breadcrumb -->
    </div><!-- end frame -->
  </div><!-- end holder -->
</div><!-- end tools -->