<% provide(:title, "Certified Training") %>

<div class="main-area"><!-- main area -->
  <%= render 'title_bar' %>
  <div class="main-holder"><!-- main holder -->
    <div id="content"><!-- content -->
      <div class="content_right_sidebar"><!-- left content -->
        <p>
          LifeLine provides a full line of emergency education classes.  Every one of our emergency education instructors are emergency medical professionals,
          working either full or part time in the EMS field either as paramedics, EMT’s, firefighters or emergency nurses.  This brings immeasurable value to
          your class, since your instructor performs the skills they are teaching you on real people in real life emergencies.  Because we a partners with the
          American Heart Association and provide certified training we are able to use their more than 200,000 certified trainers.
        </p>
        <p>
          We meet or exceed the AHA guidelines in regards to the ratio of mannequins to students.  This makes your class flow smoothly by removing the hassle of
          waiting in lines to practice your skills.  The students can practice the skills until they are comfortable with them, and will leave the class confident
          in their understanding of the skills that were taught.  It also lowers the possibility of cross contamination of germs between students.
        </p>
        <p>
          Classes utilize attractive and occasionally humorous multi-media presentations including PowerPoints, videos and DVDs.  This allows us to keep the
          students stimulated and fully engaged in the training process making their training experience both beneficial and enjoyable.  Our instructors constantly
          keep the students attention by encouraging questions and comments during the class.  Our instructors also all believe that getting the students to
          laugh is a valuable tool to keeping their constant attention.
        </p>
        <p>
          Students who attend the class will have access to the textbook during the class from the American Heart Association specific to the class taught.
          This is a full sized, color book that the students can read and use for review throughout the class and they are available to students for an additional
          minimal fee if they wish to use it throughout the year.   This keeps the skills they learn fresh in their mind, and easily remembered if they are called
          upon to respond to an emergency.  Upon completion of the class, each student will receive a course completion/certification card from the American
          Heart Association.  The different training courses offered at LifeLine cover, a wide variety of health related topics and can be combined to meet your
          specific needs.
        </p>
        <p>
          After your class, LifeLine will have all the student documentation and education records.  We will have all the course rosters on file, which makes
          it easy to quickly look to see who took what class and when.  When it is time for your students to refresh their lifesaving skills, we will notify you
          two months in advance.  During every certification year, we will provide the course completion cards in class so that the staff has them immediately.
        </p>
      </div><!-- end left content -->
      <br class="clear" />
    </div><!-- end content -->
    <div id="sub_nav" class="nav_right_sub_nav"><!-- start sub nav -->
      <%= render 'sub_nav' %>
    </div><!-- end sub nav -->
  </div><!-- end main holder -->
</div><!-- end main area -->