<div class="tools"><!-- tools -->
  <div class="holder"><!-- holder -->
    <div class="frame"><!-- frame -->
      <h1><%= @title %></h1>
    </div><!-- end frame -->
  </div><!-- end holder -->
</div><!-- end tools -->