<div class='iphone-wrap'><!-- iphone wrapper -->
  <div class="sidebar-widget sidebar-iphone"><!-- sidebar widget -->
    <h4 class='iphone-header'>Follow Us:</h4>
    <ul class="social_icons"><!-- social icons -->
      <li><%= link_to 'Twitter', "http://www.twitter.com/lifeline", :class => 'twitter', :target => "_blank"  %></li>
      <li><%= link_to 'Facebook', "http://www.facebook.com/LifeLinei", :class => 'facebook', :target => "_blank"  %></li>
      <li><%= link_to 'Linked_in', "http://www.linkedin.com/company/lifeline-incorporated", :class => 'linkedin', :target => "_blank"  %></li>
    </ul><!-- end social icons -->
    <br />
  </div><!-- end sidebar widget -->
  <div class="sidebar-widget sidebar-iphone"><!-- sidebar contact info -->
    <h4 class="iphone-header">Contact Info:</h4>
    <p>
      612-729-1888  local<br />
      612-573-6461  fax<br />
      866-938-5433  toll free<br />
      <%= mail_to 'support@lifelinei.com' %>  email <br />
    </p>
    <h4 class="iphone-header">Address:</h4>
    <p>
      LifeLine Incorporated<br />
      3510 East 28th Street<br />
      Minneapolis, MN 55406
    </p>
  </div><!-- end sidebar contact info -->
</div><!-- end iphone wrapper -->