<% provide(:title, "Showing Contact") %>

<div class="main-area"><!-- main area -->
  <%= render 'title_bar' %>
  <div class="main-holder"><!-- main holder -->
    <div id="content"><!-- content -->
      <div class="content_full_width">
        <p>This is a test</p>

      </div><!-- end content -->
    </div><!-- end sub nav -->
  </div><!-- end main holder -->
</div><!-- end main area -->