<table>
  <thead>
    <th>
      <td>ZOLL AED Plus</td>
      <td>Phillps HeartStart</td>
      <td>Physio-Control LifePak CRPlus</td>
    </th>
  </thead>
  <tbody>
     <tr>
        <td>Image</td>
        <td><%= image_tag "ZOLL.png", size: '150x150' %></td>
        <td><%= image_tag "PHILIPS.png", size: '150x150' %></td>
        <td><%= image_tag "PHYSIO.png", size: '150x150' %></td>
     </tr>
     <tr>Battery Type</tr>
     <tr>Battery Life</tr>
     <tr>Energy Type</tr>
     <tr>Pad Type</tr>
     <tr>Pediatric Pads</tr>
     <tr>CPR Assistance</tr>
     <tr>Chain of Survival</tr>
     <tr>Upgrade Technology</tr>
     <tr>Self-Test</tr>
     <tr>Training Unit</tr>
  </tbody>
</table>