<table>
  <thead>
    <tr>
      <th><b>ZOLL AED Plus</b></th>
      <th><b>Phillps HeartStart</b></th>
      <th><b>Physio-Control LifePak CRPlus</b></th>
    </tr>
  </thead>
  <tbody>
     <tr>
        <td></td>
        <td><%= image_tag "ZOLL.png", size: '150x150' %></td>
        <td><%= image_tag "PHILIPS.png", size: '150x150' %></td>
        <td><%= image_tag "PHYSIO.png", size: '150x150' %></td>
     </tr>
     <tr>
        <td><b>Battery Life</b></td>
        <td>5 Years</td>
        <td>5 Years</td>
        <td>5 Years</td>
     </tr>
     <tr>
        <td><b>Battery Type</b></td>
        <td>Type 123 Duracell Lithium</td>
        <td>Manufacturer</td>
        <td>Manufacturer</td>
     </tr>
     <tr>
       <td><b>Energy Type</b></td>
       <td>Biphasic, escalating Joules - 120, 150, 200</td>
       <td>Biphasic, fixed 150 Joules</td>
       <td>Biphasic, escalting Joules - 200, 360</td>
     </tr>
     <tr>
       <td><b>Pad Type</b></td>
       <td>Attached pad system designed to aid in CPR</td>
       <td>Two, separate pads</td>
       <td>Two, separate pads</td>
     </tr>
     <tr>
       <td><b>Pad Life</b></td>
       <td>4 Years</td>
       <td>2 Years</td>
       <td>2 Years</td>
     </tr>
     <tr>
       <td><b>Pediatric Pads</b></td>
       <td>Available</td>
       <td>Available</td>
       <td>Available</td>
     </tr>
     <tr>
       <td><b>CPR Assistance</b></td>
       <td>Full CPR assistance and feedback</td>
       <td>Partial</td>
       <td>None</td>
     </tr>
     <tr>
       <td><b>Chain of Survival</b></td>
       <td>Yes</td>
       <td>No</td>
       <td>No</td>
     </tr>
     <tr>
       <td><b>Upgrade Technology</b></td>
       <td>Yes</td>
       <td>No</td>
       <td>No</td>
     </tr>
     <tr>
       <td><b>Self Test</b></td>
       <td>Yes</td>
       <td>Yes</td>
       <td>Yes</td>
     </tr>
     <tr>
       <td><b>Training Unit</b></td>
       <td>Yes</td>
       <td>Yes</td>
       <td>Yes</td>
     </tr>
  </tbody>
</table>
