<div class="tools"><!-- tools -->
  <div class="holder"><!-- holder -->
    <div class="frame"><!-- frame -->
      <h1><%= @title %></h1>
      <p class="breadcrumb"><!-- breadcrumb -->
        <%= link_to 'Home', root_path %>
        <% if current_page?(:controller => 'solutions', :action => 'main') %>
            <span class="current_crumb">LifeLine Solutions</span>
        <% else %>
            <%= link_to 'LifeLine Services', solutions_path %>
            <span class="current_crumb"><%= @title %></span>
        <% end %>
      </p><!-- end breadcrumb -->
    </div><!-- end frame -->
  </div><!-- end holder -->
</div><!-- end tools -->