<div id="footer_bottom"><!-- FOOTER BOTTOM -->
  <div class="info">
    <div id="foot_left"><!-- FOOT LEFT -->
      <p>Copyright&copy; 2012 LifeLine Incorporated.  All rights reserved.</p>
    </div><!-- END FOOT LEFT -->
    <div id="foot_right"><!-- FOOT RIGHT -->
      <div class="top-footer"><%= link_to 'Top', "#", :class => "link-top" %></div>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
      </ul>
    </div><!-- END FOOT RIGHT -->
  </div><!-- END INFO -->
</div><!-- END FOOTER BOTTOM -->